WebContent/wsdl/SaludoServicio.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://test.edu" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://test.edu" xmlns:intf="http://test.edu" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://test.edu" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="saludar">
    <complexType>
     <sequence>
      <element name="nombre" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="saludarResponse">
    <complexType>
     <sequence>
      <element name="saludarReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="saludarRequest">

      <wsdl:part element="impl:saludar" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="saludarResponse">

      <wsdl:part element="impl:saludarResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="SaludoServicio">

      <wsdl:operation name="saludar">

         <wsdl:input message="impl:saludarRequest" name="saludarRequest"/>

         <wsdl:output message="impl:saludarResponse" name="saludarResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SaludoServicioSoapBinding" type="impl:SaludoServicio">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="saludar">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="saludarRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="saludarResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SaludoServicioService">

      <wsdl:port binding="impl:SaludoServicioSoapBinding" name="SaludoServicio">

         <wsdlsoap:address location="http://localhost:8080/patecatl/services/SaludoServicio"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
